@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --light-border: #e2e8f0;
  --light-progress: rgba(100, 116, 139, 0.24);
  --light-background: #fff;
  --light-text-primary: #334155;
  --light-text-secondary: #64748b;
  --light-label-background: #f1f5f9;
  --light-label-primary: #64748b;
  --light-link-underline: rgba(119, 51, 255, 0.18);
  --dark-background: #0f172a;
  --dark-border: #334155;
  --dark-progress: rgba(100, 116, 139, 0.72);
  --dark-text-primary: #e2e8f0;
  --dark-text-secondary: #cbd5e1;
  --dark-label-background: #334155;
  --dark-label-primary: #cbd5e1;
  --dark-link-underline: rgba(119, 51, 255, 0.36);
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--light-border);
}

body {
  background: linear-gradient(180deg, rgba(45, 69, 125, 1) 0%, rgba(15, 23, 42, 1) 100%);
}

main {
  max-width: 936px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullname {
  font-weight: 800;
  font-size: 56px;
  margin-top: 80px;
}

.position {
  font-size: 20px;
  margin-top: 8px;
  font-weight: 500;
  color: var(--dark-text-secondary);
}

.contacts {
  margin-top: 40px;
  font-size: 14px;
}

.email-location-block {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.email-location {
  display: flex;
  gap: 4px;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.social-link {
  font-weight: 600;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 2px solid;
}

.social-link.linkedin {
  color: #0a66c2;
  border-color: #0a66c2;
}

.social-link.tg {
  color: #0088cc;
  border-color: #0088cc;
}

.social-link.github {
  color: #0d1117;
  border-color: #0d1117;
}

.social-link.discord {
  color: #5865f2;
  border-color: #5865f2;
}
